$brand-secondary: #243746;
$brand-primary: #1ca4de;
$accent-colour: #5b527f;

$dxw-light-green: #3bc492;
$dxw-green: #006874;
$dxw-orange: #fe603a;
$dxw-yellow: #ffb72c;
$dxw-red: #9f1f1f;
$dxw-pink: #b15fa2;
$dxw-turquoise: #00a0b0;

$govpress: #36304b;
$sublime: #272822;
$ivory: #f9f8f5;

$photo-background: #48b6c3;

$black: #283133;
$dark-grey: #4c535a;
$grey: #95989a;
$medium-grey: #eeeeee;
$light-grey: #f2f2f2;
$white: #ffffff;

// Social media
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;
$google: #dd4b39;
$github: #4078c0;

