// Breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
  @if $mq2 == false {
    @media ($maxmin: $mq01) {
      @content;
    }
  }
  @else {
    @media (min-width: $mq01) and (max-width: $mq2) {
      @content;
    }
  }
}

// Responsive font size mixin
@mixin font-size-map($font-size-map) {
  @each $breakpoint, $font-size in $font-size-map {
    @if $breakpoint == null {
      font-size: $font-size;
    } @else {
      @include breakpoint($breakpoint) {
        font-size: $font-size;
      }
    }
  }
}

// Buttons
@mixin button-background($background) {
  background: $background;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  &:hover {
    background: darken($background, 15);
  }
  &:active,
  &:focus {
    background: darken($background, 20);
    outline: 2px solid $highlight;
    box-shadow: 4px 4px 1px rgba(0,0,0,0.2);
  }
}

@mixin button-light($background, $text) {
  background: $background;
  color: $text;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);

  &:hover,
  &:focus {
    background: darken($background, 10);
    color: $text;
  }
  &:active {
    background: darken($background, 20);
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin hide {
  position: absolute;
  left: -9999em;
}
