#search {
  width: 70%;
  margin: 0 auto 2em auto;
  height: 2em;

  #search-field {
    width: 75%;
    float: left;
    background-color: #fff;
    line-height: 1.2;
    display: block;
    height: auto;
    border-radius: 0;
    padding: 10px;
    border: 2px solid #eee;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0;
    color: #283133;
    font-family: "Cardo",Times,Serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;

    &:focus {
      outline: 2px solid #ffb72c;
      box-shadow: none;
      border-color: #eee;
    }
  }

  button {
    width: 25%;
    background: #243746;
    color: #eee;
    box-shadow: none;
    padding: 10px 20px 15px 20px;
    float: right;
    line-height: 1.2;
    cursor: pointer;
    outline: 0;
    transition: all 0.3s ease-in-out;
    border: none;
    text-decoration: none;
    font-family: "Cardo",Times,Serif;
    font-size: 18px;
  }
}
