@import 'colours';
@import 'globals';
@import 'mixins';
@import 'typography';

body {
  background: $ivory;
  margin: 0;
  padding: 0;
  background: $ivory url("/static/img/dxw-bikeshed-primary-background.svg") no-repeat bottom right;
  background-attachment: fixed;
}

#container {
  max-width: 36em;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 3em;
  position: relative;

  h1, h2, h3, h4, h5 {
    font-family: Poppins, -apple-system, sans-serif;
  }
}

.template-blog-index {
  article {
    margin: 3em 0;
    padding: 1em 0;
    border-bottom: 1px solid #eee;

    h2 {
      margin-bottom: 0.2em;
      line-height: 1.1em;
    }
  }
}

.template-blog-post {
  article {
    h1 {
      margin-bottom: 0.2em;
      line-height: 1.1em;
    }
  }
}
