@import 'colours';
@import 'globals';
@import 'mixins';
@import 'typography';

body {
  background-color: $ivory;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 36em;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 3em;
  position: relative;

  h1, h2, h3, h4, h5 {
    font-family: Poppins, -apple-system, sans-serif;
  }
}

.template-blog-index {
  article {
    margin: 3em 0;
    padding: 1em 0;
    border-bottom: 1px solid #eee;
  }
}
