{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-blog-index{% endblock %}

{% block content %}
  <h1>Blog Posts</h1>

  {% for page in self.get_children %}
    <article>
      <time class="time" datetime="{{page.first_published_at|date:"c"}}">{{page.first_published_at|date:"j F Y"}}</time>
      <h2><a href="{% pageurl page %}">{{page.title}}</a></h2>
      <p>
        {{page.specific.body|striptags|truncatewords:30}}
      </p>
      <p>
        <a href="{% pageurl page %}">Read more</a>
      </p>
    </article>
  {% endfor %}
{% endblock content %}
