{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search results for '{{ search_query }}'</h1>

    {% if search_results %}
        {% for result in search_results %}
            <article>
                <h2><a href="{% pageurl result %}">{{result}}</a></h2>
                {% if result.search_description %}
                <p>{{ result.search_description }}</p>
                {% endif %}
                <p>
                <a href="{% pageurl result %}">Read more</a>
                </p>
            </article>
        {% endfor %}


        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}
{% endblock %}
